.checklist__item
  padding 10px 10px
  cursor pointer
  font-weight bold
  color darken(#ccc, 35%)
  display flex
  justify-content space-between
  border-radius 15px
  margin-bottom: 3px
  &:not(:last-child)
    border-bottom 1px solid #eee
  &:hover
    background #eee
    color darken(#eee, 40%)

.select-items
  margin-bottom: 10px

.checked
  background #60bf66
  color #fff